.custom-tooltip::before {
    background-color: #00000070;
    /* Adjust to your preferred color */
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 0.875rem;
    max-width: 250px;
    backdrop-filter: blur(4px);
    white-space: normal;
    /* Allows text wrapping */
}